@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Architects+Daughter);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
	margin:0;
	background-image:url(../images/3414074449_442ebd724b_o.jpg);
	background-position:center;
	background-size:100%;
	font-family: 'Open Sans', sans-serif;
}

.clear {
	float:none;
	clear:both;
}


/* Colours */

.black {
	color:#0C0C0C;
}

/* Fonts */

#main-menu a {
	font-size:24px;
	font-family: 'Architects Daughter', cursive;
	text-decoration:none;
	display:block;
	width:100%;
	padding-left:20px;
	margin-left:-3px;
}
p {
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	margin:0;
}

.item p {
	font-size:12px;
	margin-top:10px;
}

h2 {
	margin-bottom:5px;	
}
h3,h4 {
	margin:0;
	text-align:center;
	margin-bottom:5px;
}

#main-menu a:hover {
	background-color: rgba(246, 228, 186, 0.37);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 14px rgba(246, 228, 186, 0.57);
	-moz-box-shadow:    0px 0px 14px rgba(246, 228, 186, 0.57);
	box-shadow:         0px 0px 14px rgba(246, 228, 186, 0.57);
}
	
/* Effects */

.paper-bg {
	background-image: url(../images/header-main-bg.jpg);
}

.border-rad {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.border-shadow {
	-webkit-box-shadow: 0px 0px 14px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 14px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 14px rgba(50, 50, 50, 0.75);
}

.crazy-border {
	border:solid 3px #FFF;
}

/* Menu */

#logo {
	margin-left:50px;
}

#first-col {
	background-image:url(../images/mbg_03.png);
	background-repeat:no-repeat;
	position:relative;
	height:400px;
	width: 345px;
	z-index:20;
}

#wrapper ul#main-menu {
	display:block;
	width: 200px;
	position:absolute;
	top: 156px;
right: 28px;
	
}
#rand {
left: 210px;
top: 65px;
	z-index:100;
	position:absolute;

}

#wrapper ul#main-menu li {
	display:block;
	border-top:solid 1px #8B5406;
}

#header-content {
	position:absolute;
	left: 335px;
	top: 65px;
	width: 645px;
	height:252px;
	background-image:url(../images/header-main-bg.jpg);
	z-index:10;
	border:solid 2px #8B5406;
}

#header-content img {
	cursor:pointer;
}

/* Body Stuff */

#inner-content {
	max-width:1000px;
	margin:5px auto;
	position:relative;
	margin-top:30px;
	padding:20px;
}

#inner-content #latest-article {
position: relative;
height: 210px;
margin: 20px;
margin-left: 78px;
}
#inner-content #latest-image {
width: 163px;
height: 100%;
float: left;
background-image: url(../images/_69350085_69350084.jpg);
background-position: center;
margin-right: 20px;
}

#wrapper {
	width:100%;
	
}

/* Left Blocks */

.side-bar {
	width: 250px;
	margin-left: -10px;
	float:left;
	height:100%;
	margin-right:20px;
}

.block {
	padding:10px;
}

/* Body */

#body-content {
	margin: 0 auto;
width: 845px;
background-color: rgba(246, 228, 186, 0.67);
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: 0px 0px 14px rgba(246, 228, 186, 0.87);
-moz-box-shadow: 0px 0px 14px rgba(246, 228, 186, 0.87);
box-shadow: 0px 0px 14px rgba(246, 228, 186, 0.87);
margin-top: -107px;
padding-top:60px;
}

#main-content {
	width: 591px;
	margin: -58px 0 0 232px;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.26);
}

.item {
	background-image:url(../images/header-main-bg.jpg);
	background-position:left;
	background-position-y: -20px;
	margin-bottom:20px;
	padding: 10px;
	border: solid 1px rgba(139, 84, 6, 0.11);
	-moz-border-radius-bottomright: 12px;
-webkit-border-bottom-right-radius: 12px;
border-bottom-right-radius: 12px;
-moz-border-radius-bottomleft: 8px;
-webkit-border-bottom-left-radius: 8px;
border-bottom-left-radius: 8px;
}

#wrapper #body-content .column1 {
	
}

#wrapper #body-content .column2 {
	
	
}
